.logo {
  width: 50%; 
}

h1 {
  color: #7ea0b4;
  font-family: 'Rouge Script', cursive;
  font-weight: normal; 
  text-shadow: 1px 1px 2px #082b34;
}

.presentation {
  margin-top: 3em;
  padding: 2px;
  font-size: 1em;
}

.carousel {
  margin-top: 1.5em;;
}

h1 {
  margin-top: 2.2em;
}

footer {
  background: lightskyblue;
  padding: 5px;
}

.ddssimple {
  width: 140px;
  height: 100px;
}
